<!-- Delete Confirmation Modal -->
<div id="deleteModal" class="delete-news-modal" style="display: none">
  <div class="delete-news-modal-content">
    <p>Are you sure you want to delete this article?</p>
    <p id="show-news-id"></p>
    <div class="delete-modal-buttons">
      <button id="confirmDelete" onclick="confirmDeleteNews()" class="delete-modal-delete-btn">Delete</button>
      <button class="delete-modal-cancel-btn" onclick="closeDeleteModal()">
        Cancel
      </button>
    </div>
  </div>
</div>