<header class="global-header">
  <div class="global-logo">
    <img src="/static/logo/Logo.svg" alt="logo" height="auto" width="100px">
  </div>
  <div class="global-logout-btn">
    <button id="openModalBtn" class="logout-btn" onclick="logoutUser()">
      <svg
        class="logout-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2.5"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-log-out"
      >
        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
        <polyline points="16 17 21 12 16 7" />
        <line x1="21" x2="9" y1="12" y2="12" />
      </svg>
    </button>
  </div>
</header>

<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-heading">
      <span class="msg-logout">Logout</span>
      <span id="closeModalBtn" class="modal-cross"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-x"
        >
          <path d="M18 6 6 18" />
          <path d="m6 6 12 12" />
        </svg>
      </span>
    </div>
    <div class="modla-des">
      <p>
        Are you want to logout? You have to again login to your accout to use
        our services.
      </p>
    </div>
    <div class="footer">
      <button id="closeModalBtn" class="cancle">Cancle</button>
      <button class="logout" onclick="logoutUser()">Logout</button>
    </div>
  </div>
</div>
