<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | NewsBox</title>
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/styles.global.css" />
  </head>
  <body>
    <%- include("partials/toast") %>
    
    <header class="login_form_header">
      <div class="login_form_logo">
        <img
          src="/static/logo/logo-light.svg"
          alt="NewsBox Logo"
          height="auto"
          width="100px"
        />
      </div>
    </header>
    <main>
      <section class="login_form_section">
        <div>
          <h2>Enter your credentials to login to your account.</h2>
        </div>
        <form id="form_login" class="login_form">
          <div class="form_sections">
            <label for="email_or_Username" class="login_form_label"
              >Email or username</label
            >
            <input
              type="text"
              placeholder="Email or username"
              class="login_form_input"
              id="email"
            />
          </div>
          <div class="form_sections">
            <label for="email_or_Username" class="login_form_label"
              >Password</label
            >
            <input
              type="password"
              placeholder="Password"
              class="login_form_input"
              id="password"
            />
          </div>
          <div class="form_sections">
            <button type="submit" class="login_form_button">Login</button>
          </div>
        </form>
      </section>
    </main>
    <script src="/Js/login.js"></script>
  </body>
</html>
