.login_form_header {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  padding: 10px 20px;
  background-color: var(--background-primary);
  margin-bottom: 20px;
}

.login_form_section {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  max-width: 343px;
  gap: 20px;
}

.login_form_section > div > h2 {
  font-weight: 100;
  font-size: xx-large;
}

.login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  gap: 20px;
}

.login_form .form_sections {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.login_form .form_sections .login_form_label {
  font-size: 18px;
}

.login_form .form_sections .login_form_input {
  /* width: ; */
  width: 342.52px;
  height: 56px;
  background-color: var(--background-input);
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 5px 16px;
  font-size: 18px;
  font-weight: lighter;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}

.login_form .form_sections .login_form_input:focus {
  border: 2px solid var(--color-black-primary);
  outline: none;
  box-shadow: 0 0 0 4px white, 0 0 0 8px var(--ring-color);
}

.login_form .form_sections .login_form_button {
  /* width: ; */
  width: 342.52px;
  height: 56px;
  background-color: var(--background-primary);
  border: none;
  border-radius: 8px;
  padding: 5px 16px;
  font-size: 18px;
  font-weight: lighter;
  color: var(--color-white-primary);
  font-family: var(--font-family-primary);
  cursor: pointer;
}
