* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ++++TEXT COLOR++++ */
  --color-black-primary: #000000;
  --color-black-secondary: #f2f2f2;
  --color-white-primary: #ffffff;
  --color-red-primary: #de1237;
  --color-blue-primary: #276ef2;
  --color-green-primary: #008068;
  --color-green-secondary: #e3fffa;

  /* ++++BACKGROUND COLOR++++ */
  --background-primary: #000000;
  --background-secondary: #f2f2f2;
  --background-tertiary: #ffffff;
  --background-danger: #de1237;
  --background-input: #e8e8e8;
  --background-modal: #808080;
  --background-hover: #1a1a1a;

  /* ++++BORDER RADIUS++++ */
  --border-radius-sm: 5px;
  --border-radius-md: 10px;
  --border-radius-lg: 15px;
  --border-radius-full: 50px;
}

@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist-VariableFont_wght.ttf") format("woff2");
  font-weight: 100 900; /* Specifies the range of weights available */
  font-stretch: 75% 125%; /* Specifies the range of widths available */
  font-style: normal;
}

@font-face {
  font-family: "Geologica";
  src: url("../fonts/Geologica-VariableFont_CRSV,SHRP,slnt,wght.ttf")
    format("truetype");
  font-weight: 100 900; /* Specifies the range of weights available */
  font-style: normal italic; /* Covers normal and slanted styles */
  font-variation-settings: "CRSV" 0, "SHRP" 0, "slnt" 0, "wght" 400; /* Default axis settings */
}

:root {
  --font-family-brand-Primary: Georgia, "Times New Roman", Times, serif;
  --font-family-primary: "Geologica", sans-serif;
  --font-family-tertiary: "Geist", sans-serif;
}

body {
  font-family: var(--font-family-primary);
  /* font-weight: normal; */
}

/* COMPONENTS */
/* ++++HEADER++++ */
.global-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: var(--background-tertiary);
  /* position: sticky; */
  margin-bottom: 10px;
  border-bottom: 2px solid var(--color-black-secondary);
  /* top: 0px; */
  z-index: 1;
}

/* Media query for small screens (max-width: 600px) */
@media (max-width: 600px) {
  .global-header {
    padding: 10px 20px; /* Reduced padding for smaller screens */
  }
}

.global-logo {
  /*  font-family: var(--font-family-brand-Primary);
  font-weight: bold;
  font-size: 24px;
  font-weight: 500; */
}

.global-logout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.global-logout-btn .logout-btn {
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: var(--border-radius-md);
  border: none;
  cursor: pointer;
  /* transition: background-color 0.3s ease; */
}

/* .global-logout-btn .logout-btn:hover {
  background-color: #000000;
} */

.logout-icon {
  color: var(--color-red-primary);
}

/* Modal background */
.modal {
  display: none;
  position: fixed;
  z-index: 6;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: var(--background-tertiary);
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal .modal-content .modal-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal .modal-content .modal-heading .msg-logout {
  font-size: 35px;
  font-weight: bold;
}

.modal .modal-content .modal-heading .modal-cross {
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: var(--border-radius-full);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .modal-content .modal-heading .modal-cross:hover {
  background-color: var(--background-secondary);
}
.modal .modal-content .modla-des p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.modal .modal-content .footer {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
  /* font-family: var(--font-family-primary); */
}

.modal .modal-content .footer .cancle {
  padding: 7px 15px;
  min-width: 150px;
  max-width: 150px;
  min-height: 40px;
  max-height: 40px;
  border: none;
  background-color: var(--background-tertiary);
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  border-radius: 5px;
  font-family: var(--font-family-primary);
}

.modal .modal-content .footer .logout {
  padding: 7px 15px;
  min-width: 150px;
  max-width: 150px;
  min-height: 40px;
  max-height: 40px;
  border: none;
  background-color: var(--background-danger);
  color: var(--color-white-primary);
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  border-radius: 5px;
  font-family: var(--font-family-primary);
}

.export-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* To be removed later */
.export-section .news-count-container .news-count-text {
  padding: 10px;
  border-radius: var(--border-radius-md);
  /* background-color: #008068; */
  color: #008068;
  font-size: 15px;
  font-weight: 500;
  background-color: var(--color-green-secondary);
}

a {
  text-decoration: none;
}

.download-articles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 8px 16px;
  border: none;
  background-color: var(--background-primary);
  color: var(--color-white-primary);
  border-radius: var(--border-radius-md);
  font-family: var(--font-family-primary);

  &:hover {
    background-color: var(--background-hover);
  }
}

.download-articles > .download-text {
  text-decoration: none;
  font-size: 16px;
}

@media (max-width: 600px) {
  .download-articles > .download-text {
    display: none;
  }
}

.toast-container {
  position: fixed;
  bottom: 20px;
  left: 10px;
  z-index: 10;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  padding: 6px 18px;
  border: 1px solid transparent;
  border-radius: var(--border-radius-md);
  min-width: 400px;
  max-width: 400px;
  min-height: 80px;
  max-height: 80px;

  /* Animation setup */
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Media query for tablets and small desktops */
/* @media (max-width: 768px) {
  .toast-container {
    min-width: 300px;
    max-width: 300px;
    bottom: 15px;
    left: 5px;
  }
} */

/* Media query for mobile devices */
@media (max-width: 480px) {
  .toast-container {
    min-width: 350px;
    max-width: 350px;
    padding: 4px 12px;
    gap: 10px;
    bottom: 10px;
    left: 5px;
  }
}

/* Chnage the bg color of the toast based on the api response */
.toast-success {
  background-color: #276ef2;
}

.toast-error {
  background-color: #de1237;
}

.toast-login {
  background-color: #008068;
}

.toast-container.toast-show {
  opacity: 1;
  transform: translateY(0);
}

.toast-container.toast-hide {
  opacity: 0;
  transform: translateY(20px);
}

.toast-container .text-content > h2 {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-white-primary);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.toast-container .text-content > p {
  font-size: 13px;
  font-weight: 100;
  color: var(--color-white-primary);
}

.toast-container .close-toast .close-toast-btn {
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  cursor: pointer;
  border-radius: var(--border-radius-md);
  background: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--background-secondary);
  }
}

.scroll-to-top-btn {
  position: fixed;
  bottom: 90px;
  right: 30px;
  padding: 10px;
  background-color: var(--color-green-primary);
  color: white;
  border: none;
  border-radius: var(--border-radius-md);
  font-size: 16px;
  cursor: pointer;
  display: none; /* Initially hidden */
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .scroll-to-top-btn:hover {
  background-color: #0056b3;
} */
