* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ++++TEXT COLOR++++ */
  --color-black-primary: #000000;
  --color-black-secondary: #f2f2f2;
  --color-white-primary: #ffffff;
  --color-red-primary: #de1237;
  --color-blue-primary: #276ef2;

  /* ++++BACKGROUND COLOR */
  --background-primary: #000000;
  --background-secondary: #f2f2f2;
  --background-tertiary: #ffffff;
  --background-danger: #de1237;
  --background-input: #e8e8e8;
  --background-modal: #808080;
  --background-hover: #1a1a1a;

  /* ++++BORDER RADIUS++++ */
  --border-radius-sm: 25%;
  --border-radius-md: 50%;
  --border-radius-lg: 75%;
  --border-radius-full: 100%;
}

@font-face {
  font-family: "Geologica";
  src: url("../fonts/Geologica_Auto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

:root {
  --font-family-brand-Primary: Georgia, "Times New Roman", Times, serif;
  --font-family-primary: "Geologica", sans-serif;
  --font-family-Secondary: "Roboto", sans-serif;
}

body {
  font-family: var(--font-family-Secondary);
}

/* COMPONENTS */
/* ++++HEADER++++ */
.global-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: var(--background-tertiary);
  position: sticky;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--color-black-secondary);
  top: 0px;
  z-index: 1000px;
}

.global-logo {
  font-family: var(--font-family-brand-Primary);
  font-weight: bold;
  font-size: 24px;
  font-weight: 500;
}

.global-logout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.global-logout-btn .logout-btn {
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: var(--border-radius-md);
  border: none;
  cursor: pointer;
  /* transition: background-color 0.3s ease; */
}

/* .global-logout-btn .logout-btn:hover {
  background-color: #000000;
} */

.logout-icon {
  color: var(--color-red-primary);
}

/* Modal background */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: var(--background-tertiary);
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal .modal-content .modal-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal .modal-content .modal-heading .msg-logout {
  font-size: 35px;
  font-weight: bold;
}

.modal .modal-content .modal-heading .modal-cross {
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: var(--border-radius-md);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .modal-content .modal-heading .modal-cross:hover {
  background-color: var(--background-secondary);
}
.modal .modal-content .modla-des p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.modal .modal-content .footer {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
  font-family: var(--font-family-tertiary);
}

.modal .modal-content .footer .cancle {
  padding: 7px 15px;
  min-width: 150px;
  max-width: 150px;
  min-height: 40px;
  max-height: 40px;
  border: none;
  background-color: var(--background-tertiary);
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  border-radius: 5px;
}

.modal .modal-content .footer .logout {
  padding: 7px 15px;
  min-width: 150px;
  max-width: 150px;
  min-height: 40px;
  max-height: 40px;
  border: none;
  background-color: var(--background-danger);
  color: var(--color-white-primary);
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  border-radius: 5px;
}
